---
title: 取材・情報発信ガイドライン
description: pmconfに関する情報を外部に向けて発信する際に一度ご覧ください。
---

.container
  .pageHeader
    h1.pageHeader_title = current_page.data.title

  article.article
    .article_body
      p pmconfについての外部への情報発信についてたまに質問をいただくので、ふわっとガイドラインを決めました。

      h2 個人ブログ／SNSでのイベントレポートについて
      ul
        li
          | 許可をもらう必要はありません。
          ul
            li ワークショップ、LT、懇親会の様子などどんどんアップしてください。
            li pmconfのロゴデータは#{link_to 'ロゴデータとデータ利用ガイドライン', '/resources'}からダウンロードしていただけます。

      h3 注意が必要
      ul
        li
          | 参加者のみなさんの写真
          ul
            li 顔出しNGの方もいるかも? 写真を撮るときは注意してください。

      h3 禁止
      ul
        li
          | 調整中です。
          ul
            li 調整中です。

      h2 メディアの取材について
      p 記者です！取材したいです！という場合は下のフォームからご相談ください。
      / p =< link_to 'フォームを開く', '', target: '_blank'
      | 準備中です。
