.article {
  @include card;
  font-size: 17px;

  &_time {
    border-bottom: 2px solid $text-color;
    font-size: .9em;
    padding-bottom: 3px;
  }

  &_footer {
    @include clearfix;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    font-size: .9em;
  }

  &_authorInfo {
    display: inline-block;
  }

  &_authorImage {
    @include square(22px);
    border-radius: 50%;
    vertical-align: top;
    margin: {
      top: 2px;
      right: 4px;
      left: 10px;
    }
  }

  &_authorName {
    display: inline;
  }

  &_socialButtons {
    float: right;
    display: inline-block;
  }

  &_tweetBtn {
    display: inline-block;
    margin-right: 10px;
  }

  &_likeBtn {
    display: inline-block;

    .fb-like > span {
      vertical-align: top !important;
    }
  }

  &_hatenaBtn {
    display: inline-block;
    margin-left: 10px;
  }

  &_title {
    margin-bottom: 40px;
    line-height: 1.4;
    font: {
      size: 2.2em;
      weight: bold;
    }
  }

  &_body {
    h2,
    h3,
    h4 {
      line-height: 1.4;
      font-weight: bold;
      margin: {
        top: 1.5em;
        bottom: .8em;
      }
    }

    h2 {
      display: inline-block;
      font-size: 1.7em;
      padding-bottom: 5px;
      border-bottom: 3px solid $brand-color;
    }

    h3 {
      font-size: 1.6em;
    }

    h4 {
      font-size: 1.4em;
    }

    img {
      max-width: 100%;
    }

    p {
      margin: 1em 0;
    }
  }

  @media (max-width: $screen-xs-max) {
    &_title {
      font-size: 1.8em;
    }

    &_body {
      h2 { font-size: 1.4em; }
      h3 { font-size: 1.4em; }
      h4 { font-size: 1.2em; }
    }
  }
}
