.commonHeader {
  background-color: $brand-color;
  height: $header-height;

  &_siteLogo {
    display: inline-block;
    padding: 9px 0;
    float: left;
    color: #fff;
    margin: 0;
    font: {
      size: 1.2em;
      family: $font-family-cursive;
    }
  }

//  &_siteLogoImg {
//    max-height: $header-height - 12px * 2;
//    display: inline-block;
//  }

  @media (max-width: $screen-sm-max) {
    text-align: center;
    vertical-align: middle;
    height: auto;

    &_siteLogo {
      float: none;
    }
  }
}
