.largeHeader {
  background-color: $brand-color;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  color: #fff;

  &_siteCaption {
    margin-top: 70px;
  }

  &_siteLogo {
    max-width: 800px;
    width: 100%;
    display: inline-block;
    margin: 10px 0 80px;
    padding: 0 10px;
    line-height: 1.1;
    font-size: 3.8em;
    font-family: $font-family-cursive;
  }
}
