@mixin card($margin: 30px, $padding: 30px) {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(#000, .1);
  margin: $margin 0;
  padding: $padding;

  @media (max-width: $screen-xs-max) {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    margin: 20px 0;
    padding: 0;
  }
}

@mixin textlink($color, $style: underline) {
  a {
    &:link {
      color: $color;
      text-decoration: none;
    }
    &:hover,
    &:focus {
      color: $color;
      text-decoration: #{$style};
    }
    &:active {
      color: $color;
      text-decoration: #{$style};
    }
    &:visited {
      color: $color;
      text-decoration: none;
    }
  }
}
