.pageHeader {
  position: relative;
  min-height: 30px;

  &_title {
    font: {
      size: 2em;
      weight: normal;
    }
  }

  .breadcrumb {
    background-color: transparent;
    margin: 10px 0;
  }
}
