.section {
  padding: 80px 0;
  border-bottom: 1px solid #ddd;

  &:nth-child(even) {
    background-color: #fff;
  }

  &_title {
    text-align: center;
    line-height: 1.4;
    font: {
      size: 2.2em;
      weight: normal;
    }
    margin: {
      top: 0;
      bottom: 40px;
    }
  }

  &_waitingList {
      text-align: center;
  }

  h3 {
    margin: 1.6em 0 .8em;
    font: {
      size: 1.5em;
      weight: normal;
    }
  }

  @media (max-width: $screen-xs-max) {
    padding: 40px 0;

    &_title {
      font-size: 1.7em;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 1.4em;
    }
  }
}
