// Google Font
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Damion);

// bootstrap3 stylesheets
@import 'bootstrap_custom';
@import 'bootstrap';

// common
@import 'variables';
@import 'mixins';

// partials
@import 'article_list';
@import 'article';
@import 'articles_navigation';
@import 'common_footer';
@import 'common_header_navigation';
@import 'common_header';
@import 'human_card';
@import 'staff_list';
@import 'information';
@import 'large_header_navigation';
@import 'large_header';
@import 'organizers';
@import 'page_header';
@import 'section';
@import 'sponsors_text';
@import 'staff_readme';
@import 'tips_article';

body {
  -webkit-font-smoothing: antialiased;

  @media (max-width: $screen-xs-max) {
    font-size: $font-size-small;
  }
}
