meta[charset='UTF-8']
title = page_title
meta[name='description' content="#{page_description}"]

meta[property='og:site_name' content='Japan Product Manager Conference 2016']
meta[property='og:type' content='website']
meta[property='og:url' content="#{page_url}"]
meta[property='og:title' content="#{page_title}"]
/ meta[property='og:image' content="#{current_page.data.og_image_url || 'http://htomine.github.io/htomine/pmconf/assets/images/default_og_image.png'}"]
meta[property='og:description' content="#{page_description}"]
meta[property='fb:app_id' content='541771765980100']

meta[name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0']
meta[name='google-site-verification' content='1zBv8gGl3jWOL5b5e-thL7giXF-jY6P4BKrpe_wha0U']

link[rel='icon' type='image/png' href='/assets/images/favicon.png']
link[rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css']

= stylesheet_link_tag 'application'
= javascript_include_tag 'application'
