---
title: ロゴデータとデータ利用ガイドライン
description: pmconfのロゴデータと、データを利用する際のガイドラインについてまとめています。
---

.container
  .pageHeader
    h1.pageHeader_title = current_page.data.title

  article.article
    .article_body
      p
        | pmconf のブランド名やロゴを使用する際のガイドラインについてご説明します。
        | pmconf では、コミニティを広めていくためロゴマークを使っていただきたいと考えています。
        | ロゴの使用にあたっては、 [ダウンロード] セクションから最新のロゴをダウンロードして使用してください。

      h2 ダウンロード
      p
        / b = link_to 'ロゴデータをダウンロード', '', target: '_blank'
        | 準備中です。

      p または以下をコピーしてご使用ください。
      table
        tr
          td.text-center
            | 準備中です。

      h2 以下の目的での使用はぜひ :)
      ul
        li pmconfへのリンクのためにロゴやブランド名を使用すること
        li pmconfを紹介する記事等でロゴやブランド名を使用すること

      h2 おねがい
      ul
        li 一般的に読み取ることができるサイズで使用してください
        li フィルターやシャドウなどの効果を適用せず、そのままの状態で使用してください
        li 背景色に応じた適切な配色のロゴを使用してください

      h2 だめなこと
      ul
        li
          | [ダウンロード] セクション以外の場所から取得したロゴを使用すること
        li ロゴを自らのアプリケーションやサービスのアイコンとしてそのまま使用すること
        li ロゴを回転・変形して使用すること
        li ロゴの配色を変更して使用すること
        li ロゴに無関係なエフェクトをかけて使用すること
        li pmconfロゴをご自身のロゴに付け足すこと
        li ロゴの回りにブランド名以外のテキストや画像を付け足すこと
        li ロゴの上に別の画像を重ねたり、ロゴの一部しか見えない状態で使用すること
        li 旧バージョンのマークやロゴ、または別のマークやロゴを使用すること
        li
          | 企業の広告やマーケティング資料でpmconfのロゴやブランド名が出る場合に、
          | 事前の許可なく、pmconfが支援している、またはパートナー提携していることを示唆する形で使用すること

      h2 お問い合わせ
      p ロゴやブランド名の使用に関するお問い合わせは以下よりご連絡ください。
      / p = link_to 'お問い合わせフォーム', '', target: '_blank'
      | 準備中です。
