.largeHeader
  .containers
    nav.largeHeaderNavigation
      ul.list-unstyled
        li.largeHeaderNavigation_list = link_to '記事一覧', '/articles'
        li.largeHeaderNavigation_list = link_to 'Tips', '/tips'
        li.largeHeaderNavigation_list = link_to 'ロゴデータ', '/resources'
        li.largeHeaderNavigation_list = link_to '取材・情報発信ガイドライン', '/publishing-guideline'
        li.largeHeaderNavigation_list = link_to '運営', '/staff'

    = image_tag '/assets/images/logo.svg', class: 'largeHeader_siteLogo',
                title: 'JohoKaigi - 情報会議', alt: 'JohoKaigi - 情報会議'

section.section
  .container
    h2.section_title JohoKaigi - 情報会議とは
    p
      | 情報会議は、チームでの情報共有について、Tipsや悩みの共有や集約を通して、
      | 情報の共有方法や情報共有をする文化作りをする方法を整理するためのコミュニティです。

    h3 活動
    ul
      li オンラインにコミュニティ (<a href="https://teams.qiita.com/" target="_blank">Qiita:Team</a>) を作って情報交換をしています
      li イベントを開催して情報交換をしています
      li TipsをまとめてBlogで発信しています

    h3 こんな人におすすめ
    ul
      li 良さそうなツールを見つけたけれど、うまく検討できなかった
      li 導入してみたけれど、うまく使えなかった
      li
        | 自分の開発チームではうまくできなさそうだけど、他のチームでやってるのを見ると
        | 「なるほど、確かにそういう風に使えたら良さそうですね」、などと思う

    h3 こんな人にもおすすめ
    ul
      li うちのチームの情報共有をもっと良くしたい！
      li 通知が多くて参ってる…。
      li メールが多すぎるんだー！
      li もっと効率的に情報を共有したいぞ

    p
      | チーム内に留まりがちなこういった状況を、普段なかなか話す機会のないチーム外の人たちと共有し、
      | 新しい気づきを持ち帰っていただけたらうれしいです。

section.section
  .container
    h2.section_title 次回イベント情報
    - if data.peatix.try(:first)
      .row
        .col-sm-10.col-sm-offset-1
          = data.peatix.first
    - else
      .row
        .col-sm-10.col-sm-offset-1.section_waitingList
          p
            | 次回イベントの詳細は未定です
            =< image_tag 'https://cdn.qiita.com/emoji/unicode/1f647.png', class: 'emoji', title: ':bow:', alt: ':bow:',  height: '20', width: '20', align: 'absmiddle'
          p 参加してみたい！という方は下記フォームに連絡先をどうぞ。
          p 開催決定時、優先的にご連絡します。
          p
            =link_to 'JohoKaigi 情報会議に参加したい - Google Forms', 'https://goo.gl/mOuwJ8',  target: '_blank'


section.section
  .container
    h2.section_title 新着記事
    - page_articles('articles').each do |article|
      article.information
        h1.information_title = link_to article.title, article.url
        time.information_time = article.date.strftime('%Y/%m/%d')

section.section.hidden-xs
  .container
    .row
      .col-sm-6
        aside
          | <div class="fb-page" data-href="https://www.facebook.com/johokaigi" data-width="500px" data-height="400px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/johokaigi"><a href="https://www.facebook.com/johokaigi">情報会議</a></blockquote></div></div>

      .col-sm-6
        aside
          | <a class="twitter-timeline" href="https://twitter.com/JohoKaigi" data-widget-id="663690851407654913" data-height="400px">@JohoKaigiさんのツイート</a>

section.section
  .container
    h2.section_title オーガナイザー
    ul.list-unstyled.list-inline.organizers
      - data.staff.organizers.each do |human|
        li.organizers_list
          = image_tag human.profile_image_url, class: 'organizers_icon'
          .organizers_name = human.name

    p.text-center
      = link_to 'スタッフ一覧', '/staff'

    .sponsorsText
      p
        | Started by #{link_to 'Increments Inc.', 'http://increments.co.jp/', target: '_blank'}
        br
        | Original web site design by #{link_to 'kony', 'https://github.com/konycc', target: '_blank'} from Increments Inc.
        br
        | Hosted by #{link_to 'GitHub', 'https://github.com/johokaigi/johokaigi', target: '_blank'}
